body {
    background-color: #116466;
    font-family: 'Castoro', serif;
    width:100%
}

h1 {
    color: #D9B08C;
    font-family: 'Castoro', serif;
    padding-left: 5px;

}

h2 {
    color: #D1E8E2;
    font-family: 'Castoro', serif;
    padding-left: 5px;
}

p {
    color: #ffffff;
    font-family: 'Castoro', serif;
    font-size: larger;
    padding-left: 5px;
}

.nav{
    padding-left: 5px;
}

