
@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    background-color: darkturquoise;
}




.dropbtn {
    background-color: #2C3531;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-bottom: 15px;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #2C3531;}


nav {
    margin: 0px auto 0;
    margin-bottom: 10px;
    position: relative;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 110px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 160px;
}

nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #41B3A3;
}
nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #C38D9E;
}
nav .start-contact, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #E8A87C;
}
nav .start-projects, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #E27D60;
}

